<div class="portfolio-description lg:fixed lg:flex items-baseline my-10 min-[1540px]:my-40">
  <div>
    <div>
      <img src="https://i.ibb.co/r0WcP5r/output-onlinepngtools-1.png"
        class="object-cover h-80 min-[1240px]:h-52 min-[1530px]:h-80  rounded-full mx-auto align-middle" alt="profile image">
    </div>
    <h1
      class="text-3xl min-[1240px]:text-2xl min-[1530px]:text-3xl font-bold text-transparent mt-5 bg-clip-text bg-gradient-to-br from-cyan-500 to-blue-900 dark:from-cyan-100 dark:to-blue-400 flex">
      <label class="mx-auto align-middle">Pedro Antonio Moya García</label>
    </h1>
    <h2
      class=" text-2xl xmin-[1530px]:text-2xl font-semibold text-transparent bg-clip-text bg-gradient-to-br from-cyan-500 to-blue-900 dark:from-cyan-100 dark:to-blue-400 flex">
      <label class="mx-auto align-middle">{{'FullStackDeveloper' | translate}}</label>
    </h2>
    <app-pdf-downloader />
    <div class="text-2xl font-extralight">
      <app-social-media />
    </div>
</div>