<div class="portfolio-description lg:fixed lg:flex items-baseline my-10 min-[1540px]:my-40">
  <div>
    <div>
      <img src="https://i.ibb.co/xGqZWgK/recorte.png" 
        class="object-cover h-72 min-[1240px]:h-64 mx-auto align-middle" alt="Pedro Antonio Moya Garcia" style="border-radius: 20%;">
    </div>
    <h1
      class="text-2xl min-[1240px]:text-2xl min-[1530px]:text-2xl font-bold text-transparent mt-5 bg-clip-text bg-gradient-to-br from-blue-300 to-blue-900 dark:from-blue-100 dark:to-blue-400 flex">
      <label class="mx-auto align-middle">Pedro Antonio Moya García</label>
    </h1>
    <h2
      class="text-lg xmin-[1530px]:text-2xl font-semibold text-transparent bg-clip-text bg-gradient-to-br from-blue-300 to-blue-900 dark:from-blue-100 dark:to-blue-400 flex">
      <label class="mx-auto align-middle">{{'FullStackDeveloper' | translate}}</label>
    </h2>
    
    <div class="text-2xl font-extralight">
      <app-social-media />
      <app-pdf-downloader />
    </div>
</div>