<app-section-with-header id="projects">
    <div headerSection>
        <label>{{'MyProjects' | translate }}</label>
    </div>
    <div bodySection class="lg:ml-4 lg:px-4 pt-information-block">
        <div class="grid justify-center lg:justify-start">
            <app-project-card projectName="{{'MyPortfolio' | translate}}" projectDescription="{{'MyPortfolioDescription' | translate}}"
                projectImageUrl="assets/images/portfolio-image-project.png" projectRepositoryUrl="https://github.com/pedromg-dev/portfolio" />
        </div>
    </div>
    
</app-section-with-header>