<div class="slider">
	<div class="slide-track">
        <div class="slide">
			<img src="../../../assets/images/C-Sharp.png" alt="" />
		</div>
        <div class="slide">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="Angular" />
		</div>
		<div class="slide">
			<img src="../../../assets/images/Cosmodb.png"  alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/images/microsoft-sql-icon.png"  alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/images/HTML-icon.png"  alt="" />
		</div>
        <div class="slide">
			<img src="https://cdn.hashnode.com/res/hashnode/image/upload/v1632979765809/HTEigfQR-.png?auto=compress,format&format=webp" alt="" />
		</div>
        <div class="slide">
			<img src="../../../assets/images/C-Sharp.png" alt="" />
		</div>
        <div class="slide">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="Angular" />
		</div>
		<div class="slide">
			<img src="../../../assets/images/Cosmodb.png"  alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/images/microsoft-sql-icon.png"  alt="" />
		</div>
		<div class="slide">
			<img src="../../../assets/images/HTML-icon.png"  alt="" />
		</div>
        <div class="slide">
			<img src="https://cdn.hashnode.com/res/hashnode/image/upload/v1632979765809/HTEigfQR-.png?auto=compress,format&format=webp" alt="" />
		</div>
	</div>
</div>