<app-section-with-header id="skills">
    <div headerSection>
        <h2>{{'TechnicalSkills' | translate }}</h2>
    </div>
    <div bodySection class="lg:ml-4 lg:px-4 pt-information-block ">
        <div class="mb-1 text-base font-medium text-blue-700 dark:text-blue-400">.NET</div>
        <div class="w-full bg-gray-200 rounded-full h-3.5 mb-4 dark:bg-gray-700">
            <div class="bg-blue-700 h-3.5 rounded-full dark:bg-blue-400" style="width: 95%"></div>
        </div>
        <div class="mb-1 text-base font-medium text-blue-700 dark:text-blue-400">Angular</div>
        <div class="w-full bg-gray-200 rounded-full h-3.5 mb-4 dark:bg-gray-700">
            <div class="bg-blue-700 h-3.5 rounded-full dark:bg-blue-400" style="width: 90%"></div>
        </div>
        <div class="mb-1 text-base font-medium text-blue-700 dark:text-blue-400">HTML</div>
        <div class="w-full bg-gray-200 rounded-full h-3.5 mb-4 dark:bg-gray-700">
            <div class="bg-blue-700 h-3.5 rounded-full dark:bg-blue-400" style="width: 95%"></div>
        </div>
        <div class="mb-1 text-base font-medium text-blue-700 dark:text-blue-400">C#</div>
        <div class="w-full bg-gray-200 rounded-full h-3.5 mb-4 dark:bg-gray-700">
            <div class="bg-blue-700 h-3.5 rounded-full dark:bg-blue-400" style="width: 95%"></div>
        </div>
        <div class="mb-1 text-base font-medium text-blue-700 dark:text-blue-400">Javascript</div>
        <div class="w-full bg-gray-200 rounded-full h-3.5 mb-4 dark:bg-gray-700">
            <div class="bg-blue-700 h-3.5 rounded-full dark:bg-blue-400" style="width: 95%"></div>
        </div> 
    </div>
</app-section-with-header>