<app-sidebar />
<main>
  <div class="fixed bottom-2 right-2 flex justify-center overflow-hidden pointer-events-none">
    <div class="flex-none flex justify-end">
      <picture>
        @if(!darkModeEnabled()) {
          <img src="assets/images/pedromg-dev-logo-1.svg" alt class="w-[20rem] lg:w-[40rem] xl:w-[50rem] flex-none max-w-none" decoding="async">
        }
        @else {
          <img src="assets/images/pedromg-dev-logo-dark.svg" alt class="w-[20rem] lg:w-[40rem] xl:w-[50rem] flex-none max-w-none" decoding="async">
        }
      </picture>
    </div>
  </div>
  <div>
    <div>
      <div class="bg-blue-300 dark:bg-blue-800 h-screen flex justify-center items-center">
        <app-main-information />
      </div>
      <div class="w-full">
        <app-about-me />
        <app-skills />
        <app-timeline />
        <app-projects />
        <app-contact />
      </div>
    </div>
  </div>
  <app-drawer-menu />
</main>

