<main class="main">
  <app-sidebar />

  <div class="container mx-auto">
    <div class="lg:flex lg:justify-between lg:gap-4 mx-10 lg:mx-10 py-32">
      <div class="lg:w-1/3 md:w-full">
        <div class="portfolio-description lg:fixed lg:flex items-baseline ">
          <div class="">
            <div class="mb-10">
              <img src="https://i.ibb.co/r0WcP5r/output-onlinepngtools-1.png" class="object-cover h-80 rounded-full" alt="profile image">
            </div>
            <div class="text-2xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-cyan-500 to-blue-900 dark:from-cyan-100 dark:to-blue-400">
              <label>Pedro Antonio Moya García</label>
            </div>
            <div class=" text-2xl font-normal text-transparent bg-clip-text bg-gradient-to-br from-cyan-500 to-blue-900 dark:from-cyan-100 dark:to-blue-400">
              <!-- {{'GreetingsName' | translate: {'name': 'Pedro'} }} -->
              {{'FullStackDeveloper' | translate}}
            </div>
            <div class="text-2xl font-extralight">
                <app-social-media />
            </div>
          </div>
        </div>
      </div>
      <div class="font-extralight lg:w-2/3 md:w-full sd:mx-2.5">
        <app-about-me />
        <app-work-experience />
      </div>
    </div>
  </div>
</main>