<nav class="pt-sidebar flex justify-between">
    <div id="pt-sidebar-index" class="flex justify-start ml-56">
        <app-index-sidebar />
    </div>
    <div id="pt-sidebar-configuration" class="flex justify-end mr-10">        
        <div class="mr-10">
            
                @if(this.isEnglish) {
                    <div class="flex gap-2 cursor-pointer" (click)="changeLanguage('es')">
                        <img src="../../assets/images/united-kingdom-flag-icon.png" class="w-5 mt-1" />
                    <app-button  text="English" />
                </div>

                }
                @else {
                    <div class="flex gap-2 cursor-pointer" (click)="changeLanguage('en')">
                        <img src="../../assets/images/spanish-flag-icon.png" class="w-5 mt-1" />
                    <app-button  text="Español" />
                </div>
                }
            </div>
        
        <app-theme-switch />
    </div>
</nav>