<app-section-with-header id="work-experience">
	<div headerSection>
		<label>{{ 'WorkExperience' | translate }}</label>
	</div>
	<div bodySection class="md:ml-4">
		<div
			class="col-span-12 space-y-12 relative px-4 sm:col-span-8 sm:space-y-8 sm:before:absolute sm:before:top-2 sm:before:bottom-0 sm:before:w-0.5 sm:before:-left-3 before:bg-blue-700 dark:before:bg-blue-500">
			<app-timeline-item title="{{ 'FullStackDeveloperInPetrofac' | translate }}"
				dates="{{ 'Petrofac.Dates' | translate }}" description="{{ 'Petrofac.Description' | translate }}">

				<div additionalInfo>
					<ul class="space-y-1 list-disc list-inside mt-5 lg:ml-10">
						<li class="mb-5">
							{{ 'FormelD.AditionalInfo.Line1' | translate }}
						</li>
						<li>
							{{ 'FormelD.AditionalInfo.Line2' | translate }}
						</li>
					</ul>
				</div>

				<div class="flex gap-10 border-t mt-5 border-blue-200"  logosSection>
					<app-tech-logo url="assets/images/Blazor.png" name="Blazor" />
				</div>
			</app-timeline-item>

			<app-timeline-item title="{{ 'FullStackDeveloperInFormelD' | translate }}"
				dates="{{ 'FormelD.Dates' | translate }}" description="{{ 'FormelD.Description' | translate }}">
				<div additionalInfo>
					<ul class="space-y-1 list-disc list-inside mt-5 lg:ml-10">
						<li class="mb-5">
							{{ 'FormelD.AditionalInfo.Line1' | translate }}
						</li>
						<li>
							{{ 'FormelD.AditionalInfo.Line2' | translate }}
						</li>
					</ul>
				</div>

				<div class="flex gap-10 border-t mt-5 border-blue-200" logosSection>
					<app-tech-logo url="assets/images/Angular.png" name="Angular" />
				</div>
			</app-timeline-item>

			<app-timeline-item title="{{ 'FullStackDeveloperInGTT' | translate }}"
				dates="{{ 'GTT.Dates' | translate }}" description="{{ 'GTT.Description' | translate }}">
				<div additionalInfo>
					<ul class="space-y-1 list-disc list-inside mt-5 lg:ml-10">
						<li>
							{{ 'GTT.AditionalInfo.Line1' | translate }}
						</li>
					</ul>
				</div>

				<div class="flex gap-10 border-t mt-5 border-blue-200" logosSection>
					<app-tech-logo url="assets/images/Aspnetmvc.png" name=".NET MVC" />
				</div>
			</app-timeline-item>

			<app-timeline-item title="{{ 'FullStackDeveloperInActio' | translate }}"
				dates="{{ 'Actio.Dates' | translate }}" description="{{ 'Actio.Description' | translate }}">
				<div additionalInfo>
					<ul class="space-y-1 list-disc list-inside mt-5 lg:ml-10">
						<li>
							{{ 'Actio.AditionalInfo.Line1' | translate }}
						</li>
					</ul>
				</div>

				<div class="flex gap-10 border-t mt-5 border-blue-200" logosSection>
					<app-tech-logo url="assets/images/Angular.png" name="Angular" />
				</div>
			</app-timeline-item>
		</div>
	</div>
</app-section-with-header>