@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-blue-200 to-blue-200 dark:from-blue-600 dark:to-blue-800 text-blue-900 dark:text-blue-100;
  background-attachment: fixed;
  @apply transition-colors duration-300;
}
.pt-section {
  padding-top: 50px;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
   @apply bg-blue-100 dark:bg-blue-600;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-600 dark:bg-blue-100;
  border-radius: 10px;
}

.pt-button {
  cursor: pointer;
  background-position: 25%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
  @apply shadow-sm shadow-blue-800 dark:shadow-blue-900;
}

.pt-button:hover {
  background-position: 100%;
}