@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-blue-200 to-blue-200 dark:from-blue-600 dark:to-blue-800 text-blue-900 dark:text-blue-100;
  background-attachment: fixed;
  @apply transition-colors duration-300;
}
.pt-section {
  padding-top: 50px;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
   @apply bg-blue-100 dark:bg-blue-600;
}

::-webkit-scrollbar-thumb {
  @apply bg-blue-600 dark:bg-blue-100;
  border-radius: 10px;
}